/*Page Wide*/
body {
    background-color:#61c5b9;
    color: black;
    padding: 5px;
    font-family: "Playfair Display", serif;
}
/*Logo and Name*/
.site-info {
    display: inline-block;
    margin-top: 0em;
    margin-right: 1em;
    font-family: "Playwrite US Trad", cursive;
    font-size: 2em;
    text-align: center;
  }
  .logo {
    background-color: #61c5b9;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 10px;
    float: left;
    border: 2px solid #61c5b9;
    border-radius: 100%;
 
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 9pt;
  }


.logo:hover {
  border-color: white;
}

.site-info a:hover, .site-links .active {
    background-color: #48c8a8;
  }

/*Navigation*/
.navigation {
    background-color: #20997d;
    width: 100%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    
  }
  .navigation a {
    color: #FFF;
  }
 
.site-links {
    float: right;
  }
  
  .site-links a {
    display: inline-block;
    padding-top: 0em ;
    padding-right: 1em;
  }

  .site-links a:hover, .site-links .active {
    background-color: #48c8a8;
  }

/*Main content*/
.main {
    text-align: center;
    overflow: scroll;
    background-color: #FFF;
    padding: 2em;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.mainPagePainting
{
    width: 75%;
    height: auto;
}

h1 {font-family: "Playwrite US Trad", cursive;
    text-align: center;
    color: gold;
}

h2 {
    border-bottom: gold;
    border-top: white;
    border-right: white;
    border-left: white;
    border-width: white;
    border-style: solid;
}
 /*About*/

 .amanda-picture {
float: left;
 }

/*Contact Page*/

