/*Page Wide*/
body {
    background-color:#61c5b9;
    color: black;
    padding: 5px;
    font-family: "Playfair Display", serif;
}
/*Logo and Name*/
.site-info {
    display: inline-block;
    margin-top: 0em;
    margin-right: 1em;
    font-family: "Playwrite US Trad", cursive;
    font-size: 2em;
    text-align: center;
  }
  .logo {
    background-color: #248969;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
    float: left;
    border-radius: 100%;
 
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 9pt;
  }

/*Navigation*/
.navigation {
    background-color: #149376;
    width: 100%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    
  }
  .navigation a {
    color: #FFF;
  }
 
.site-links {
    float: right;
  }
  
  .site-links a {
    display: inline-block;
    padding-top: 0em ;
    padding-right: 1em;
  }

  .site-links a:hover, .site-links .active {
    background-color: #3fc5a3;
  }

/*Main content*/
.main {
    text-align: center;
    overflow: scroll;
    background-color: #FFF;
    padding: 2em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.mainPagePainting
{
    width: 75%;
    height: auto;
}

h1 {font-family: "Playwrite US Trad", cursive;
    text-align: center;
}

 /*About*/

/*Contact Page*/

